* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  width: 1440px;
  margin: auto;
}

/* NAV SECTION */

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 90px;
}

.nav-container img {
  margin-left: 120px;
}

.nav-container ul {
  list-style: none;
  margin-left: 800px;
}

.nav-container a {
  margin-right: 50px;
}

.nav-container a:link,
.nav-container a:visited {
  color: #444;
  text-decoration: none;
  font-size: 20px;
  font-family: Open Sans;
}

.nav-container a:hover {
  color: rgb(133, 126, 126);
  font-weight: bold;
}

.nav-container a:active {
  color: #444;
}

/* SECTION-TWO */

.section-two {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 250px;
}

.section-two h2 {
  color: hsl(243, 87%, 12%);
  font-size: 35px;
  font-family: Raleway;
  font-weight: 900;
  line-height: 1.5;
  margin-bottom: 20px;
}

.section-two p {
  font-size: 16px;
  font-family: Open sans;
  line-height: 1.5;
  color: hsl(238, 26%, 25%);
  margin-bottom: 20px;
}

.input-btn {
  display: flex;
  align-items: center;
  gap: 20px;
}

.section-two input {
  width: 350px;
  height: 38px;
  padding-left: 15px;
}

.btn-1 {
  padding: 12px 60px;
  color: white;
  background-color: hsl(224, 93%, 58%);
  border: none;
  border-radius: 3px;
}

/* SECTION 3 */

.section-three {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-image: url("images/bg-curve-desktop.svg");
  background-repeat: no-repeat;
}

.section-three h2 {
  color: hsl(243, 87%, 12%);
  font-size: 35px;
  font-family: Raleway;
  font-weight: 900;
  margin-bottom: 20px;
}

.paragraph-1 {
  font-size: 16px;
  font-family: Open sans;
  line-height: 1.5;
  color: hsl(238, 26%, 25%);
  margin-bottom: 20px;
}

.paragraph-2 {
  font-size: 16px;
  font-family: Open sans;
  line-height: 1.5;
  color: hsl(238, 26%, 25%);
  margin-bottom: 20px;
}

.link--1 {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 30px;
}

.link--1:link,
.link--1:visited {
  color: hsl(170, 45%, 43%);
  text-decoration: none;
  border-bottom: 1px solid hsl(170, 45%, 43%);
  width: 149px;
}

.link--1:hover {
  color: rgb(72, 128, 128);
}

.link--1:active {
  color: hsl(170, 45%, 43%);
}

.testimonial {
  padding: 15px 30px;
  width: fit-content;
  box-shadow: 0 15px 12px 0px rgba(198, 200, 204, 0.34);
  border-radius: 5px;
  background-color: white;
  margin-bottom: 120px;
}

.paragraph-3 {
  color: hsl(238, 26%, 25%);
  font-family: Open Sans;
  font-size: 14px;
  margin-bottom: 20px;
  font-weight: bold;
  line-height: 1.5bu;
}

.testimonial-1 {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.kyle-burton {
  border-radius: 50%;
}

.tetsimonial-author {
  color: hsl(239, 49%, 20%);
  font-weight: bold;
  font-family: Open Sans;
}

.paragraph-4 {
  font-size: 12px;
  color: hsl(238, 26%, 25%);
  font-family: Open Sans;
}

/* SECTION 4 */

.s-4 {
  background-color: hsl(238, 22%, 44%);
}

.section-four {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 350px;
  padding: 80px;
}

.section-four h3 {
  color: white;
  font-size: 30px;
  font-family: Raleway;
  margin-bottom: 20px;
}

.section-four p {
  color: white;
  font-size: 16px;
  font-family: Open sans;
  line-height: 1.5;
}

.section-four input {
  width: 380px;
  height: 38px;
  padding-left: 15px;
  margin-bottom: 20px;
}

.btn-2 {
  padding: 12px 30px;
  color: white;
  background-color: hsl(224, 100%, 69%);
  border: none;
  border-radius: 3px;
  font-family: Open Sans;
  border-radius: 5px;
}

/* SECTION FIVE */

.footer {
  background-color: hsl(243, 87%, 12%);
}

.section-five {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 70px;
  color: white;
}

.section-five ul {
  list-style: none;
}

.image {
  filter: invert(97%) sepia(0%) saturate(7500%) hue-rotate(166deg)
    brightness(109%) contrast(102%);
}

.phone-email {
  margin-bottom: 120px;
}

.phone-number {
  display: inline-block;
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.email-address {
  display: inline-block;
  margin-left: 20px;
}

.about-us a:link,
.about-us a:visited {
  color: white;
  text-decoration: none;
  font-family: Open sans;
  font-size: 14px;
  line-height: 2.5;
}

.about-us a:hover {
  color: hsl(224, 93%, 58%);
}

.about-us a:active {
  color: white;
}

.contact-us a:link,
.contact-us a:visited {
  color: white;
  text-decoration: none;
  font-family: Open sans;
  font-size: 14px;
  line-height: 2.5;
}

.contact-us a:hover {
  color: hsl(224, 93%, 58%);
}

.contact-us a:active {
  color: white;
}

.social-media-logo {
  display: flex;
  gap: 20px;
  margin-bottom: 75px;
  filter: invert(97%) sepia(0%) saturate(7500%) hue-rotate(166deg)
    brightness(109%) contrast(102%);
}
